*{
    margin:0;
}
html{
    font-family: poppins;
    background-color: #0f0c29;
    height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url('nbg.png'); /* înlocuiești cu ce ai tu */
background-repeat: no-repeat;
  background-position: center center;
  background-size: auto; /* <--- cheia e aici */
  background-attachment: fixed; /* opțional, dacă vrei să rămână fixă */
    height: 100%;
  margin: 0;
  padding: 0;
    width: 100%;

}
header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
}
.buttons{
    display: flex;
    gap: 30px;
}
.login-btn{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    transition: 0.3s;
}
.login-btn:hover{
    background-color: #b40000;
}
.getstarted:hover{
    border: 1px solid #b40000;
}
.language-select{
    background-color: transparent;
    color:white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}
.content{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    flex-direction: column;
    flex-wrap: wrap;
}
.content h2{
    font-size: 35px;
}
.ready{
    margin-top: 4rem;
}
.get-started{
    margin-top: 1rem;
}
.email{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;

}
.common-style {
  padding: 15px;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  border: 1px solid #5b5b5b;
  display: inline-block;
  text-decoration: none;
}
.getstarted{
    padding: 15px;
    border:1px solid red;
}
.email:focus{
    outline: none;
    background-color: rgba(21, 21, 21, 0.8);
}
.trending-now {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 3rem 2rem;
    margin-top: 20rem;
    height: 100%;
    border-top: 2px solid #8d0027;
}

.trending-now h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

@media (max-width: 750px) {
    .content h2{
        font-size: 25px;
    }
    .ready{
        font-size: 12px;
    }
}
@media (max-width: 560px) {
    .content h2{
        font-size: 20px;
    }
    .ready{
        font-size: 10px;
    }
}
@media (max-width: 413px) {
    .content h2{
        font-size: 15px;
    }
    .content p{
        font-size: 10px;
    }
    .ready{
        font-size: 8px;
    }
    header{
        flex-direction: column;
    }
    .common-style{
        padding: 8px;
    }
}